# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# IDE files
.vscode/
.idea/

# macOS files
.DS_Store

# Other files to ignore
*.sqlite3
*.sqlite
