{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
       
        <div class="card-body">
             <p><strong>Total Applicants:</strong> {{ applicant_count }}</p>
            <h3>{{ job.title }}</h3>
            <p><strong>Location:</strong> {{ job.location }}</p>
            <p><strong>Description:</strong><br>{{ job.description }}</p>
            <p><strong>Qualifications:</strong><br>{{ job.qualifications }}</p>

            {% if user.is_authenticated %}
                {% if job.is_expired %}
                    <p class="text-danger font-weight-bold">This job posting has expired.</p>
                {% else %}
                    <a href="{% url 'apply_job' job.id %}" class="btn btn-primary">Apply Now</a>
                {% endif %}
            {% else %}
                <p class="text-muted mt-3">Please <a href="{% url 'login' %}">login</a> to apply.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
